<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula03_2007.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 02

O preço da laranja está R$ 3,50 por quilo. É considerado que cada
uma pesa 160g. Faça um programa que tenha como entrada a
quantidade de laranjas e mostre o valor em reais.

In [5]:
preco_kg = 3.50
peso_un = 0.160
quantidade_laranjas = int(input("Digite a quantidade de laranjas: "))
valor = quantidade_laranjas * peso_un * preco_kg
print(f"O valor total foi de R${valor}")
print("O valor total foi de R${:.2f}".format(valor))
print("O preço do kg da laranja é de R${:.2f}, o peso de cada uma é de {:.3f} kg e a quantidade pedida foi de {} laranjas".format(preco_kg, peso_un, quantidade_laranjas))

Digite a quantidade de laranjas: 3
O valor total foi de R$1.68
O valor total foi de R$1.68
O preço do kg da laranja é de R$3.50, o peso de cada uma é de 0.160 kg e a quantidade pedida foi de 3 laranjas

A nota do semestre de um aluno é definida pela média das notas
bimestrais. Crie um programa que leia as notas bimestrais e
mostre a média semestral de um aluno.

In [6]:
n1 = float(input("Digite a nota 1 do aluno: "))
n2 = float(input("Digite a nota 2 do aluno: "))
media = (n1+n2)/2
print(f"A média semestral é de {media}.")

Digite a nota 1 do aluno: 8
Digite a nota 2 do aluno: 6
A média semestral é de 7.0.

Uma empresa deseja cadastrar em seu banco de dados os nomes de
candidatos a vagas de trabalho. Os nomes são recebidos dos
usuários e é necessário adotar um padrão. Foi decidido que os
nomes estariam todos em letras maiúsculas e sem espaços no início
e no final. Também é desejado que o primeiro nome, nome do meio e
sobrenome seja gravado de forma separada.

Exemplo:

Nome recebido: “José Antunes da Silva”

Dados a serem gravados:

Primeiro Nome: “JOSÉ”

Nome do meio: “ANTUNES DA”

Sobrenome: “SILVA”

In [19]:
#nome = "   José Antunes da Silva "
#nome = "Pedro Henrique Rodrigues Santos"
#nome = "Vinicius Oliveira"
nome = "Fernando"
nome = nome.strip().upper()
nomes = nome.split(" ")
primeiro_nome = nomes[0]
nomes_meio = nomes[1:-1]
nomes_meio = " ".join(nomes_meio)
if len(nomes) > 1:
  ultimo_nome = nomes[-1]
else:
  ultimo_nome = ""
print(f"Primeiro nome: {primeiro_nome}. Nomes do meio: {nomes_meio}. Último nome: {ultimo_nome}.")

Primeiro nome: FERNANDO. Nomes do meio: . Último nome: .

# Aula 03

In [30]:
a = 10
b = 10
if a == b:
  print("Iguais")
else:
  print("Diferentes")
print("Bom dia")

if a is b:
  print("Iguais")
else:
  print("Diferentes")

Iguais
Bom dia
Iguais

In [34]:
c = True
if not c:
  print("a")
else:
  print("b")

b

In [37]:
a = 12
if a < 10:
  print("a")
elif a == 10:
  print("b")
elif a == 11:
  print("c")
else:
  print("d")

d

In [39]:
a = 100
if a >= 50:
  print("maior ou igual a 50")
elif a < 200:
  print("menor que 200")
  #Não vai entrar
else:
  print("outros")

maior ou igual a 50
menor que 200

In [47]:
nome = "Fernando"
letra = "r"
if nome == "Fernando":
  print("a")

if letra in nome: 
  print(f"A letra {letra} está em {nome}")
else: 
  print(f"A letra {letra} não está em {nome}")

a
A letra r está em Fernando

In [48]:
if a != 10:
  print("aaa")

SyntaxError: ignored