<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula06_0108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 05


Enquanto a1=0 for menor que 5, incrementando 1 a cada laço,
mostre na tela o seu número.
---

In [2]:
a1 = 0
while a1 < 5:
  print(a1)
  a1 += 1

for a1 in range(5):
  print(a1)

0
1
2
3
4
0
1
2
3
4

Enquanto a2=0 for menor que 3, incrementando 1 a cada laço,
mostre na tela o seu número multiplicado por 10.

In [4]:
a2 = 0
while a2 < 3:
  print(a2*10)
  a2 += 1

for a2 in range(3):
  print(a2 * 10)

0
10
20
0
10
20

Enquanto a3=20 for maior que 10, decrementando 1 a cada
laço, mostre na tela o seu número.

In [6]:
a3 = 20
while a3 > 10:
  print(a3)
  a3 -= 1

for a3 in range(20, 10, -1): print(a3)

20
19
18
17
16
15
14
13
12
11
20
19
18
17
16
15
14
13
12
11

Para a4=0 enquanto a4 menor que 10, incrementando 1, mostre
na tela o seu número

In [9]:
a4 = 0
while a4 < 10:
  print(a4)
  a4 += 1

for a4 in range(0, 10, 1): print(a4)

0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9

Um trabalhador trabalha 40 horas por semana. Escreva um algoritmo
que leia o número de horas trabalhadas em cada semana de um mês,
o salário por hora e escreva o salário total do mês do
funcionário (considere que o mês possua 4 semanas exatas).
Considere que o trabalhador que trabalhar mais de 40 horas em uma
semana, recebe hora extra de 50% nas horas que foram trabalhadas
a mais. O número de horas por semana não pode ser negativo e não
pode ultrapassar 50 horas por semana.

In [12]:
horas = [-1, -1, -1, -1]
salario_semana = [0,0,0,0]

valor_hora = float(input("Digite o valor do salário por hora: "))
for n_semana in range(4):
  while horas[n_semana] < 0 or horas[n_semana] > 50:
    horas[n_semana] = int(input(f"Digite a quantidade de horas trabalhadas na semana {n_semana + 1}:"))
    if horas[n_semana] < 0 or horas[n_semana] > 50: print("Quantidade de horas inválida. Digite novamente")
    else:
      if horas[n_semana] <= 40: salario_semana[n_semana] = valor_hora * horas[n_semana]
      else: 
        salario_semana[n_semana] = valor_hora * 40
        salario_semana[n_semana] += (horas[n_semana] - 40) * (valor_hora + valor_hora * 0.5)

salario_mes = 0
for n_semana in range(4):
  salario_mes += salario_semana[n_semana]
print(f"O salário do mês é de R$ {salario_mes}")

Digite o valor do salário por hora: 100
Digite a quantidade de horas trabalhadas na semana 1:40
Digite a quantidade de horas trabalhadas na semana 2:40
Digite a quantidade de horas trabalhadas na semana 3:40
Digite a quantidade de horas trabalhadas na semana 4:50
O salário do mês é de R$ 17500.0

leia 3 valores (A, B e C) representando as medidas de um
triângulo. Mostrar se tais medidas formam um triângulo ou
não. Lembre-se que o valor de cada lado deve ser menor que a
soma dos outros 2 lados e deve ser maior que o valor
absoluto da diferença entre os outros 2 lados.

| B - C | &lt; A &lt; B + C

| A - C | &lt; B &lt; A + C

| A - B | &lt; C &lt; A + B

In [16]:
A = float(input("Digite a medida do lado A:"))
B = float(input("Digite a medida do lado B:"))
C = float(input("Digite a medida do lado C:"))

if abs(B-C) < A and A < (B+C) and \
abs(A-C) < B and B < (A+C) and \
abs(A-B) < C and C < (A+B):
  print("As medidas formam um triângulo.")
else:
  print("As medidas não formam um triângulo.")

Digite a medida do lado A:1
Digite a medida do lado B:20
Digite a medida do lado C:30
As medidas não formam um triângulo.

# Aula 06 - Lists

In [20]:
lista = [0, 1, 2, 3.14, "Fernando", 0]
lista[3] = 30
lista

[0, 1, 2, 30, 'Fernando', 0]

In [21]:
len(lista)

6

In [22]:
type(lista)

list

In [23]:
max(lista)

TypeError: ignored

In [25]:
lista_numerica = [10,1,6.2,2,3,4]
min(lista_numerica)

1

In [26]:
for x in lista_numerica:
  print(x)

10
1
6.2
2
3
4

In [27]:
lista_numerica.append(50)
lista_numerica

[10, 1, 6.2, 2, 3, 4, 50]

In [28]:
lista_numerica.extend([100,200,300])
lista_numerica

[10, 1, 6.2, 2, 3, 4, 50, 100, 200, 300]

In [30]:
lista_numerica.clear()
lista_numerica

[]

In [36]:
lista.remove(0)

ValueError: ignored

In [37]:
lista

[1, 2, 30, 'Fernando']

In [38]:
lista.remove(lista[0])
lista

[2, 30, 'Fernando']

In [39]:
x = lista.pop()
x

'Fernando'

In [40]:
lista

[2, 30]

In [41]:
lista.extend([40,50,60])
lista

[2, 30, 40, 50, 60]

In [42]:
x = lista.pop(2)
x

40

In [47]:
lista2 = lista
lista3 = lista.copy()
print(lista)
print(lista2)
print(lista3)

[2, 30, 50, 60]
[2, 30, 50, 60]
[2, 30, 50, 60]

In [48]:
lista.pop(1)

30

In [49]:
print(lista)
print(lista2)
print(lista3)

[2, 50, 60]
[2, 50, 60]
[2, 30, 50, 60]