<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula07_0208.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 06

leia do teclado uma temperatura em graus Fahrenheit e mostre
na tela o seu valor convertido em Celsius. Lembrando que
(c/5) = (f-32)/9. (Valores inválidos: menores que -457,69).

In [3]:
while True:
  tempF = float(input("Digite a temperatura em Fahrenheit: "))
  if tempF >= -457.69: break
  else: print("Temperatura inválida, digite novamente.")
tempC = (tempF - 32) / 9 * 5
print(f"A temperatura de {tempF}F em Celsius é de {tempC}C.")

Digite a temperatura em Fahrenheit: 50
A temperatura de 50.0F em Celsius é de 10.0C.

leia do teclado uma temperatura em graus Celsius e mostre na
tela o seu valor convertido em Kelvin. Lembrando que 0 grau
Kelvin = -273,15 Celsius.(Valores inválidos: valores menores que -273,15).

In [6]:
tempC = -300
while tempC < -273.15:
  tempC = float(input("Digite a temperatura em graus Celsius: "))
  if tempC < -273.15: 
    print("Temperatura inválida. Digite novamente. ")
    continue
  else:
    tempK = tempC + 273.15
print("A temperatura de {:.2f}C em Kelvin é de {:.2f}K.".format(tempC, tempK))

Digite a temperatura em graus Celsius: -5000
Temperatura inválida. Digite novamente.
Digite a temperatura em graus Celsius: 25
A temperatura de 25.00C em Kelvin é de 298.15K.

Para a7=0 enquanto a7 menor que 10, incrementando 1, insira
um outro while aninhado internamente contendo para a8=0 até
a8 menor que 10, incrementando 1, mostre na tela &quot;(a7,a8)&quot;.

In [7]:
a7 = 0
while a7 < 10:
  a8 = 0
  s = ""
  while a8 < 10:
    s += "({},{}) ".format(a7,a8)
    a8 += 1
  a7 += 1
  print(s)

(0,0) (0,1) (0,2) (0,3) (0,4) (0,5) (0,6) (0,7) (0,8) (0,9)
(1,0) (1,1) (1,2) (1,3) (1,4) (1,5) (1,6) (1,7) (1,8) (1,9)
(2,0) (2,1) (2,2) (2,3) (2,4) (2,5) (2,6) (2,7) (2,8) (2,9)
(3,0) (3,1) (3,2) (3,3) (3,4) (3,5) (3,6) (3,7) (3,8) (3,9)
(4,0) (4,1) (4,2) (4,3) (4,4) (4,5) (4,6) (4,7) (4,8) (4,9)
(5,0) (5,1) (5,2) (5,3) (5,4) (5,5) (5,6) (5,7) (5,8) (5,9)
(6,0) (6,1) (6,2) (6,3) (6,4) (6,5) (6,6) (6,7) (6,8) (6,9)
(7,0) (7,1) (7,2) (7,3) (7,4) (7,5) (7,6) (7,7) (7,8) (7,9)
(8,0) (8,1) (8,2) (8,3) (8,4) (8,5) (8,6) (8,7) (8,8) (8,9)
(9,0) (9,1) (9,2) (9,3) (9,4) (9,5) (9,6) (9,7) (9,8) (9,9)

Para a6=10 enquanto a6 maior ou igual a 0, decrementando 1,
mostre na tela o seu número.

In [8]:
a6 = 10
while a6 >= 0:
  print(a6)
  a6 -= 1

10
9
8
7
6
5
4
3
2
1
0

Para a5=0 enquanto a5 menor ou igual a 10, incrementando 1,
mostre na tela o seu número multiplicado por 10.

In [9]:
a5 = 0
while a5 <= 10:
  print(a5 * 10)
  a5 += 1

0
10
20
30
40
50
60
70
80
90
100

Crie um vetor de int vetA com tamanho 5 e mostre na tela os
valores de seus elementos;

In [10]:
vetA = [10,20,30,40,50]
for v in vetA:
  print(v)

10
20
30
40
50

Considere a lista de compras de Joana e faça o que se pede:

lista_de_compras = [“batata”, “arroz”, “feijão”, “macarrão”, “detergente”]

i. Mostre na tela o tamanho da lista.

ii. Joana descobriu que não precisa de arroz, mas sim de
jiló. Realize a substituição do item.

iii. Joana encontrou um detergente na sua cozinha, elimine
o item.

iv. Joana se lembrou que precisa de abacates. Realize a
inserção do item na lista

v. Mostre todos os itens de forma individual utilizando
um comando FOR.

In [18]:
lista_de_compras = ["batata", "arroz", "feijão", "macarrão", "arroz", "detergente"]
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz', 'detergente']

In [13]:
len(lista_de_compras)

5

In [ ]:
lista_de_compras[1] = "jiló"

In [16]:
i = lista_de_compras.index("arroz")
lista_de_compras[i] = "jiló"
lista_de_compras

['batata', 'jiló', 'feijão', 'macarrão', 'detergente']

In [25]:
lista_de_compras.index("arroz",1,5)

1

In [22]:
lista_de_compras.count("arroz")

2

In [26]:
def all_index(lista, x):
  res = []
  for i in range( len(lista) ):
    if lista[i] == x: res.append(i)
  return res 

all_index(lista_de_compras, "arroz")

[1, 4]

In [27]:
lista_de_compras.remove("detergente")
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz']

In [28]:
lista_de_compras.append("abacate")
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz', 'abacate']

In [29]:
for x in lista_de_compras: print(x)

batata
arroz
feijão
macarrão
arroz
abacate

# Aula 07

Material adicional:

https://docs.python.org/3/tutorial/datastructures.html#

## Tuplas

In [31]:
tupla = (10,20,30,40)
tupla

(10, 20, 30, 40)

In [32]:
tupla.index(30)

2

In [33]:
tupla[2] = 300

TypeError: ignored

In [34]:
tupla[2]

30

In [36]:
tupla.append(50)
tupla

AttributeError: ignored

In [37]:
tupla.remove(20)

AttributeError: ignored

In [38]:
tupla.count(40)

1

In [39]:
lista = [tupla]
lista

[(10, 20, 30, 40)]

In [40]:
lista = list(tupla)
lista

[10, 20, 30, 40]

In [41]:
type(tupla)

tuple

In [42]:
type(lista)

list

## Sets

In [47]:
desktop = {"Mouse", "Teclado", "Monitor", "Gabinete", "CPU", "Cabos"}
notebook = set(["Teclado", "Tela", "CPU", "Trackpad", "CPU"])
desktop

{'CPU', 'Cabos', 'Gabinete', 'Monitor', 'Mouse', 'Teclado'}

In [49]:
notebook.add("Leitor biométrico")
notebook

{'CPU', 'Leitor biométrico', 'Teclado', 'Tela', 'Trackpad'}

In [50]:
notebook[0]

TypeError: ignored

In [52]:
notebook.remove("Leitor biométrico")
notebook

{'CPU', 'Teclado', 'Tela', 'Trackpad'}

In [53]:
desktop.intersection(notebook)

{'CPU', 'Teclado'}

In [54]:
print(desktop)
print(notebook)

{'CPU', 'Gabinete', 'Mouse', 'Teclado', 'Monitor', 'Cabos'}
{'CPU', 'Tela', 'Teclado', 'Trackpad'}

In [56]:
desktop.difference(notebook)

{'Cabos', 'Gabinete', 'Monitor', 'Mouse'}

In [57]:
notebook.difference(desktop)

{'Tela', 'Trackpad'}

In [58]:
desktop.union(notebook)

{'CPU', 'Cabos', 'Gabinete', 'Monitor', 'Mouse', 'Teclado', 'Tela', 'Trackpad'}

In [71]:
numeros1 = {1,2,3,4,5,6}
numeros2 = {2,3,4}

In [72]:
numeros1.issuperset(numeros2)

True

In [73]:
numeros2.issubset(numeros1)

True

## Dicionários

In [75]:
pessoa = {"nome":"Fernando",
          "rua": "Rua Belém 844",
          "telefone": "3333333"}
pessoa

{'nome': 'Fernando', 'rua': 'Rua Belém 844', 'telefone': '3333333'}

In [78]:
pessoa["nome"] = "Henrique"
pessoa

{'nome': 'Henrique', 'rua': 'Rua Belém 844', 'telefone': '3333333'}

In [80]:
pessoa[0]

KeyError: ignored

In [81]:
pessoa["nome"] = ["Fernando", "Nakagawa"]
pessoa

{'nome': ['Fernando', 'Nakagawa'],
 'rua': 'Rua Belém 844',
 'telefone': '3333333'}

In [85]:
x = pessoa.get("rua")
print(x)

Rua Belém 844

In [86]:
pessoa.keys()

dict_keys(['nome', 'rua', 'telefone'])

In [87]:
pessoa.values()

dict_values([['Fernando', 'Nakagawa'], 'Rua Belém 844', '3333333'])

In [88]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [89]:
pessoas = [pessoa, pessoa]
pessoas

[{'nome': ['Fernando', 'Nakagawa'],
  'rua': 'Rua Belém 844',
  'telefone': '3333333'},
 {'nome': ['Fernando', 'Nakagawa'],
  'rua': 'Rua Belém 844',
  'telefone': '3333333'}]

## Slicing

In [90]:
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz', 'abacate']

In [94]:
lista_de_compras[1]

'arroz'

In [93]:
lista_de_compras[1:4]

['arroz', 'feijão', 'macarrão']

In [95]:
lista_de_compras[4:1]

[]

In [98]:
lista_de_compras[-3]

'macarrão'

In [99]:
lista_de_compras[-4:-1]

['feijão', 'macarrão', 'arroz']

In [100]:
lista_de_compras[-1:-4]

[]

In [101]:
lista_de_compras[-4:3]

['feijão']

In [103]:
lista_de_compras[-5:4]

['arroz', 'feijão', 'macarrão']

In [104]:
lista_de_compras[1:6]

['arroz', 'feijão', 'macarrão', 'arroz', 'abacate']

In [105]:
lista_de_compras[1:6:2]

['arroz', 'macarrão', 'abacate']

In [106]:
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz', 'abacate']

## Técnicas de Loop

In [108]:
for i, x in enumerate(lista_de_compras): 
  print(i, x)

0 batata
1 arroz
2 feijão
3 macarrão
4 arroz
5 abacate

In [109]:
pessoas

[{'nome': ['Fernando', 'Nakagawa'],
  'rua': 'Rua Belém 844',
  'telefone': '3333333'},
 {'nome': ['Fernando', 'Nakagawa'],
  'rua': 'Rua Belém 844',
  'telefone': '3333333'}]

In [112]:
for k, v in pessoa.items():
  print(k, "|", v)

nome | ['Fernando', 'Nakagawa']
rua | Rua Belém 844
telefone | 3333333

In [113]:
lista_de_compras

['batata', 'arroz', 'feijão', 'macarrão', 'arroz', 'abacate']

In [117]:
lista_de_pessoas = ["Fernando", "Iago", "Henrique", "Rogerio", "Isadora", "Angélica", "Camila"]

for item, pessoa in zip(lista_de_compras, lista_de_pessoas):
  print(f"{pessoa} irá trazer {item}")

Fernando irá trazer batata
Iago irá trazer arroz
Henrique irá trazer feijão
Rogerio irá trazer macarrão
Isadora irá trazer arroz
Angélica irá trazer abacate

## List Comprehensions

In [118]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [119]:
newlist2 = []
for x in fruits:
  if "a" in x:
    newlist2.append(x)
newlist2

['apple', 'banana', 'mango']

In [122]:
numeros = [0,1,2,3,4,5,6]
lista_numeros = [n for n in numeros if n%2 == 1]
lista_numeros

[1, 3, 5]