<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula10_0508(sexta).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 09

tenha como entrada um número e exiba o seu quadrado.

In [ ]:
def quadrado(n):
  print(n**2)
quadrado(5)

25

In [ ]:
def quadrado_retorno(n):
  return(n**2)
x = quadrado_retorno(5)
print(x)

25

Ler 3 valores e escrever o maior deles.

In [ ]:
def ler_numeros(qtd):
  numeros = []
  for i in range(qtd):
    n = int(input(f"Digite o número {i+1}: "))
    numeros.append(n)
  return numeros

def maior(numeros):
  n_maior = None
  for n in numeros:
    if n_maior == None: n_maior = n
    elif n_maior < n: n_maior = n
  return n_maior

numeros = ler_numeros(3)
x = maior(numeros)
print(x)

Digite o número 1: 8
Digite o número 2: 3
Digite o número 3: 6
8

leia do teclado as dimensões de um retângulo (base e
altura), calcular e escrever a área do retângulo. (Valores
inválidos: 0 e números negativos).

In [4]:
def area_retangulo():
  base = 0
  altura = 0

  while base <= 0 or altura <= 0:
    base = float(input("Digite o valor da base: "))
    altura = float(input("Digite o valor da altura: "))
    if base <= 0 or altura <= 0:
      print("Valores inválidos.")
    else:
      area = base * altura
      print(f"A área do retângulo é de {area}")

area_retangulo()

Digite o valor da base: 10
Digite o valor da altura: 20
A área do retângulo é de 200.0

In [ ]:
def area_retangulo(base = 0, altura = 0):
  while base <= 0 or altura <= 0:
    base = float(input("Digite o valor da base: "))
    altura = float(input("Digite o valor da altura: "))
    if base <= 0 or altura <= 0:
      print("Valores inválidos.")
    else:
      area = base * altura
      print(f"A área do retângulo é de {area}")

area_retangulo()

In [11]:
def ler_area_retangulo(base = 0, altura = 0):
  while base <= 0 or altura <= 0:
    base = float(input("Digite o valor da base: "))
    altura = float(input("Digite o valor da altura: "))
    if base <= 0 or altura <= 0:
      print("Valores inválidos.")
  return base, altura

def area_retangulo(base = 0, altura = 0):
  if base <= 0 or altura <= 0:
    print("Valores inválidos.")
  else:
    area = base * altura
    return area

base, altura = ler_area_retangulo()
area = area_retangulo(base, altura)
if area is not None:  
  print(f"A área do retângulo é de {area}")

Digite o valor da base: 2
Digite o valor da altura: 4
A área do retângulo é de 8.0

Um trabalhador trabalha 40 horas por semana. Escreva um algoritmo
que leia o número de horas trabalhadas em cada semana de um mês,
o salário por hora e escreva o salário total do mês do
funcionário (considere que o mês possua 4 semanas exatas).
Considere que o trabalhador que trabalhar mais de 40 horas em uma
semana, recebe hora extra de 50% nas horas que foram trabalhadas
a mais. O número de horas por semana não pode ser negativo e não
pode ultrapassar 50 horas por semana.

In [ ]:
horas = [-1, -1, -1, -1]
salario_semana = [0,0,0,0]

valor_hora = float(input("Digite o valor do salário por hora: "))
for n_semana in range(4):
  while horas[n_semana] < 0 or horas[n_semana] > 50:
    horas[n_semana] = int(input(f"Digite a quantidade de horas trabalhadas na semana {n_semana + 1}:"))
    if horas[n_semana] < 0 or horas[n_semana] > 50: print("Quantidade de horas inválida. Digite novamente")
    else:
      if horas[n_semana] <= 40: salario_semana[n_semana] = valor_hora * horas[n_semana]
      else: 
        salario_semana[n_semana] = valor_hora * 40
        salario_semana[n_semana] += (horas[n_semana] - 40) * (valor_hora + valor_hora * 0.5)

salario_mes = 0
for n_semana in range(4):
  salario_mes += salario_semana[n_semana]
print(f"O salário do mês é de R$ {salario_mes}")

In [12]:
def ler_horas_trabalhadas_mes(horas = [-1, -1, -1, -1]):
  for n_semana in range(4):
    while horas[n_semana] < 0 or horas[n_semana] > 50:
      horas[n_semana] = int(input(f"Digite a quantidade de horas trabalhadas na semana {n_semana + 1}:"))
      if horas[n_semana] < 0 or horas[n_semana] > 50: print("Quantidade de horas inválida. Digite novamente")
  return horas

def calcular_salario():
  horas = ler_horas_trabalhadas_mes()
  salario_semana = [0,0,0,0]
  valor_hora = float(input("Digite o valor do salário por hora: "))
  for n_semana in range( len(horas) ):
    if horas[n_semana] <= 40: salario_semana[n_semana] = valor_hora * horas[n_semana]
    else: 
      salario_semana[n_semana] = valor_hora * 40
      salario_semana[n_semana] += (horas[n_semana] - 40) * (valor_hora + valor_hora * 0.5)
  salario_mes = 0
  for n_semana in range(4):
    salario_mes += salario_semana[n_semana]
  return salario_mes

print(f"O salário do mês é de R$ {calcular_salario()}")

Digite a quantidade de horas trabalhadas na semana 1:-1
Quantidade de horas inválida. Digite novamente
Digite a quantidade de horas trabalhadas na semana 1:60
Quantidade de horas inválida. Digite novamente
Digite a quantidade de horas trabalhadas na semana 1:40
Digite a quantidade de horas trabalhadas na semana 2:30
Digite a quantidade de horas trabalhadas na semana 3:51
Quantidade de horas inválida. Digite novamente
Digite a quantidade de horas trabalhadas na semana 3:50
Digite a quantidade de horas trabalhadas na semana 4:50
Digite o valor do salário por hora: 100

18000.0

receba 5 números por parâmetro e retorne uma lista com estes
números em ordem crescente.

In [17]:
def ordem_crescente(numeros):
  numeros.sort()
  return numeros

x = ordem_crescente([2,7,4,5,6])
print(x)

[2, 4, 5, 6, 7]

receba dois floats. O primeiro parâmetro deve ser chamado de
valorEmReal e o segundo parâmetro deve ser chamado juros.
Retornar o valorEmReal acrescido da taxa de juros.

In [19]:
def calcular_juros(valor_em_real, juros):
  return (valor_em_real + (valor_em_real * juros))

calcular_juros(1000, 0.01)

1010.0

# Aula 10

## Try, except, else, finally e raise

In [21]:
def conversao(string, base=10):
  try:
    return True, int(string, base=base)
  except ValueError:
    return False, None

conversao("4")

(True, 4)

In [22]:
resultado, valor = conversao("99")
print(f"{resultado}, {valor}")

True, 99

In [25]:
x = int(input("Digite um número: "))

Digite um número: a

ValueError: ignored

In [24]:
try:
  x = int(input("Digite um número: "))
except:
  print("Valor não pode ser convertido!")

Digite um número: abc
Valor não pode ser convertido!

In [26]:
while True:
  try:
      x = int(input("Digite um número: "))
      break
  except ValueError:
      print("Erro. Digite novamente")

Digite um número: a
Erro. Digite novamente
Digite um número: 1a
Erro. Digite novamente
Digite um número: 2

In [4]:
while True:
  try:
    x = float(input("Digite um número: "))
    if x < 0: 
      raise Exception("Valor inválido.")
    break
  except ValueError:
    print("Erro. Digite novamente")
  except:
    print("Valor inválido. Digite novamente.")
  else: 
    print(f"Tudo certo. O número digitado é {x}")
  finally:
    print("fim.")
  print("fim while")
print("fim do programa")

Digite um número: 2
fim.

In [9]:

try:
  while True:
    x = float(input("Digite um número: "))
    if x < 0: 
      raise Exception("Valor inválido.")
    break
except ValueError:
  print("Erro. Digite novamente")
except:
  print("Valor inválido. Digite novamente.")
else: 
  print(f"Tudo certo. O número digitado é {x}")
finally:
  print("fim.")

print("fim do programa")

Digite um número: -1
Valor inválido. Digite novamente.
fim.
fim do programa

In [6]:
try:
  x = float(input("Digite um número: "))
  if x < 0: 
    raise Exception("Valor inválido.")
except ValueError:
  print("Erro. Digite novamente")
except:
  print("Valor inválido. Digite novamente.")
else: #quando o try funciona
  print(f"Tudo certo. O número digitado é {x}")
finally:
  print("fim.")
print("fim do programa")

Digite um número: -1
Valor inválido. Digite novamente.
fim.
fim do programa

In [10]:
x = "2"
if type(x) is not int:
  raise TypeError("x não é inteiro")

TypeError: ignored

In [19]:
x = "-2a"
try:
  a = int(x)
  if a < 0 : 
    raise TypeError("x é negativo")
except TypeError as e:
  print(f"Erro: {e}")
except ValueError as e:
  print(e)

print(a)

invalid literal for int() with base 10: '-2a'
-2

## Introdução a POO