<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula08_0308.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 07

Mostrar na tela todos os números pares de 0 à 1000.

In [2]:
for i in range(0,1001):
  if i % 2 == 0:
    if i < 1000:
      print(i, end = ",")
    else:
      print(i, end = ".")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,102,104,106,108,110,112,114,116,118,120,122,124,126,128,130,132,134,136,138,140,142,144,146,148,150,152,154,156,158,160,162,164,166,168,170,172,174,176,178,180,182,184,186,188,190,192,194,196,198,200,202,204,206,208,210,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,254,256,258,260,262,264,266,268,270,272,274,276,278,280,282,284,286,288,290,292,294,296,298,300,302,304,306,308,310,312,314,316,318,320,322,324,326,328,330,332,334,336,338,340,342,344,346,348,350,352,354,356,358,360,362,364,366,368,370,372,374,376,378,380,382,384,386,388,390,392,394,396,398,400,402,404,406,408,410,412,414,416,418,420,422,424,426,428,430,432,434,436,438,440,442,444,446,448,450,452,454,456,458,460,462,464,466,468,470,472,474,476,478,480,482,484,486,488,490,492,494,496,498,500,502,504,506,508,510,512,514,516,518,520,522,524,526,528,530,532,534,536,538,540,542,544,546,548,550,552,554,556,558,560,562,564,566,568,570,572,574,576,578,580,582,584,586,588,590,592,594,596,598,600,602,604,606,608,610,612,614,616,618,620,622,624,626,628,630,632,634,636,638,640,642,644,646,648,650,652,654,656,658,660,662,664,666,668,670,672,674,676,678,680,682,684,686,688,690,692,694,696,698,700,702,704,706,708,710,712,714,716,718,720,722,724,726,728,730,732,734,736,738,740,742,744,746,748,750,752,754,756,758,760,762,764,766,768,770,772,774,776,778,780,782,784,786,788,790,792,794,796,798,800,802,804,806,808,810,812,814,816,818,820,822,824,826,828,830,832,834,836,838,840,842,844,846,848,850,852,854,856,858,860,862,864,866,868,870,872,874,876,878,880,882,884,886,888,890,892,894,896,898,900,902,904,906,908,910,912,914,916,918,920,922,924,926,928,930,932,934,936,938,940,942,944,946,948,950,952,954,956,958,960,962,964,966,968,970,972,974,976,978,980,982,984,986,988,990,992,994,996,998,1000.

Mostrar na tela todos os números ímpares de 5 à 55

In [4]:
[x for x in range(5,56) if x%2 == 1]

[5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55]

Mostrar na tela somente números primos de 2 à 100.

In [15]:
for i in range(2,100):
  primo = True
  for k in range(2, i):
    if i % k == 0: 
      primo = False
      break
  if primo: print(i, end = " ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Crie uma list de int vetB com tamanho 5, insira um inteiro com
entrada do teclado para cada um dos elementos e mostre na tela os
seus valores após a inserção dos elementos.

In [17]:
vetB = [int] * 5
for i in range(5):
  vetB[i] = int(input(f"Digite o inteiro {i + 1}: "))
vetB

Digite o inteiro 0: 1
Digite o inteiro 1: 3
Digite o inteiro 2: 5
Digite o inteiro 3: 7
Digite o inteiro 4: 9

[1, 3, 5, 7, 9]

In [19]:
vetB = [i for i in range(5) i = int(input(f"Digite o inteiro {i+1}"))]
vetB

SyntaxError: ignored

Crie uma list de int vetD com tamanho 50, atribua ao conteúdo de
cada um de seus elementos o valor de seu índice e mostre o valor
de cada um dos elementos na tela multiplicados por 2.

In [24]:
vetD = [x*2 for x in range(50)]
vetD

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

Crie uma tupla contendo todos os meses do ano e mostre qual mês
corresponde ao índice 8.

In [25]:
meses = ("jan", "fev", "mar", "abr", "mai", "jun", "jul", "ago", "set", "out", "nov", "dez")
meses[8]

'set'

Crie um set contendo as partes de um computador e depois adicione
o item “memória RAM” e mostre o set na tela.

In [30]:
computador = {"cpu", "monitor", "mouse", "teclado", "gpu"}
computador.add("memória RAM")
computador

{'cpu', 'gpu', 'memória RAM', 'monitor', 'mouse', 'teclado'}

Crie um dicionário que guarde as informações de 5 conceitos de
Python que você aprendeu até agora.

In [33]:
curso_de_python = {
    "Aula 1":"Comandos condicionais",
    "Aula 2":"Strings",
    "Aula 3":"Laço while",
    "Aula 4":"Laço for",
    "Aula 5":"Lists"
}
curso_de_python["Aula 2"]

'Strings'

# Aula 08

## List Comprehensions

In [ ]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [ ]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [35]:
vec = [-4, -2, 0, 2, 4]
vec2 = [x*2 for x in vec]
vec2

[-8, -4, 0, 4, 8]

In [ ]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [ ]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [ ]:
[abs(x*2) for x in vec]

[8, 4, 0, 4, 8]

In [ ]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [ ]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
[x, x**2 for x in range(6)]

SyntaxError: ignored

In [37]:
vec = [[1,2,3], [4,5,6], [7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

## Funções

In [40]:
def falar_oi():
  print("Oi")

falar_oi()
falar_oi()

Oi
Oi

In [41]:
for i in range(5): falar_oi()

Oi
Oi
Oi
Oi
Oi

In [43]:
#Não recomendável
a = 5
b = 2
def somar():
  print(a+b)

somar()

7

In [44]:
def multiplicar():
  return a+b

x = multiplicar()
x

7

In [46]:
def dividir(a, b):
  print(a/b)

dividir(4,3)

1.3333333333333333

In [47]:
def subtrair(a,b):
  return a-b

x = subtrair(6,4)
x

2

In [48]:
"""
Função que calcula o quadrado

"""
def quadrado(a):
  return a, a**2

x, x2 = quadrado(5)
print(x, x2)

5 25

https://docs.python.org/3/tutorial/controlflow.html#function-annotations

https://peps.python.org/pep-0008/

In [52]:
def cumprimentar(nome):
  nome = "João"
  print(f"Olá {nome}!")

#cumprimentar("Fernando")
#print(z)
print(nome)

NameError: ignored

In [54]:
a = 0
while a < 5:
  a += 1
  u = a * 2
  print(u)
print(u)

2
4
6
8
10
10

In [56]:
for i in range(5):
  v = i * 2
  print(v)
v

0
2
4
6
8

8

In [61]:
for p in range(5):
  print(p)
p = None
print(p)

0
1
2
3
4
None

In [ ]:
# tendo i não declarado
# for(int i = 0; i < 10; i ++){ ... }

#System.out.println(i); não funciona