<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula02_1907.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 01 

Elabore os códigos em Python dos problemas a seguir:

a. tenha como entrada dois números e exiba a sua soma.

b. tenha como entrada dois números e exiba a sua multiplicação.

c. tenha como entrada um número e exiba o seu quadrado.

In [1]:
#a
num1 = int(input("Digite o primeiro número: "))
num2 = int(input("Digite o segundo número: "))
print(f"A soma dos dois números é {num1 + num2}.")

Digite o primeiro número: 3
Digite o segundo número: 4
A soma dos dois números é 7.

In [2]:
#b 
num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
print(f"A multiplicação dos números é {num1 * num2}.")

Digite o primeiro número: 3
Digite o segundo número: 4
A multiplicação dos números é 12.0.

In [3]:
#c
num1 = int(input("Digite um número: "))
print(f"O quadrado do número é {num1 ** 2}")

Digite um número: 4
O quadrado do número é 16

# Aula 02

In [8]:
import random
a = random.randrange(1,10)
print(a)
#sortear um número de 1 a 9

8

In [10]:
a = random.randint(1,10)
print(a)

8

In [14]:
a = random.random()
print(a)

0.6446312334830419

In [19]:
texto = "Fernando"
print(texto[0])
print(texto[7])
#print(texto[8])
print(texto[-1])
print(texto[-4])

F
o
o
a

In [23]:
texto = "Fernando"
print(texto[0:2]) #0,1
print(texto[3:7]) #3,4,5,6
print(texto[-6:-1]) #-6,-5,-4,-3,-2 ou 2,3,4,5,6
print(texto[2:7])

Fe
nand
rnand
rnand

In [24]:
print( len(texto) )

8

In [29]:
texto = "      Mateus    "
print(texto)
print(texto.strip())
print(texto.lower())
print(texto.upper())
print(texto.strip().upper())

      Mateus
Mateus
      mateus
      MATEUS
MATEUS

In [35]:
texto_alunos = "Hugo,Isadora,Alex,Alexandre,Ana,Angélica,Camila"
print(texto_alunos)
print( texto_alunos.split(",") )
lista_alunos = texto_alunos.split(",")
print(lista_alunos[2])
print(texto_alunos[2])

Hugo,Isadora,Alex,Alexandre,Ana,Angélica,Camila
['Hugo', 'Isadora', 'Alex', 'Alexandre', 'Ana', 'Angélica', 'Camila']
Alex
g

In [36]:
texto = "Bom dia, Daniel. Você estudou hoje?"
lista_texto = texto.split(" ")
print(lista_texto)

['Bom', 'dia,', 'Daniel.', 'Você', 'estudou', 'hoje?']

In [40]:
resultado = "Daniel" in texto
print(resultado)
print( "Daniele" in texto )
print( "Ana" in lista_alunos )
print( "Ana" in texto_alunos )

True
False
True
True

In [45]:
texto1 = "Bom"
texto2 = "dia"
txt = texto1 + texto2
print(txt)

Bomdia

In [49]:
a = 10
b = 3
print ( a/b )
print(a//b)
print(a**b)
print(a%b)

3.3333333333333335
3
1000
1

In [51]:
a = 10
a += 1
#a = a + 1
print(a)
a -= 3
print(a)

11
8

In [57]:
n = round(4.567891011, 2)
print(n)

4.57

In [58]:
n = 4.567891011
print("%.2f" % n)

4.57

In [59]:
nomes = ["Maria", "Silva", "Santos"]

x = " ".join(nomes)

print(x)

Maria Silva Santos