<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula05_2207.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Atividade 04

Um computador costuma apitar quando é ligado. Tais apitos são
apitos de diagnóstico, indicando se há algum problema ou não. Se
houver um problema, o apito é diferente. Para cada fabricante de
BIOS, há uma codificação diferente. Veja a tabela a seguir de um
modelo:

AMI BIOS Tone POST Codes

Apito Condição de Erro

1 curto Atualização de DRAM

2 curtos Circuito de Paridade

3 curtos Memória Base 64K RAM

4 curtos Timer do Sistema

5 curtos Processador

(fonte: https://www.boadica.com.br/dica/165/entenda-os-bips-da-sua-bios)
Utilizando essa tabela, crie um programa que indique qual é o erro gerado
para ajudar usuários. A entrada do programa é o número de apitos. De acordo
com o número de apitos fornecido pelo usuário, mostre qual é o erro deste
suposto computador.

In [4]:
num_apitos = int(input("Digite o número de apitos: "))
s = ""
if num_apitos == 1:
  s = "Atualização de DRAM"
elif num_apitos == 2:
  s = "Circuito de Paridade"
elif num_apitos == 3:
  s = "Memória Base 64K RAM"
elif num_apitos == 4:
  s = "Timer do Sistema"
elif num_apitos == 5:
  s = "Processador"
else:
  s = "Erro não listado."
print(s)

Digite o número de apitos: 4
Timer do Sistema

leia uma nota de um aluno, de 0 à 10 e mostre na tela o seu
conceito. Considere: 

nota >= 9,0 -> Excelente

\>= 7,0 e < 9,0 -> Bom

\>= 5,0 e < 7,0 -> Razoável

< 5,0 -> Fraco

In [11]:
nota = float(input("Digite a nota aluno:"))
desempenho = ""
if nota >= 9 and nota <= 10:
  desempenho = "Excelente"
elif nota >= 7 and nota < 9:
  desempenho = "Bom"
elif nota >= 5 and nota < 7:
  desempenho = "Razoável"
elif nota >= 0 and nota < 5:
  desempenho = "Fraco"
else:
  desemepenho = "Nota inválida."
print(desempenho)

Digite a nota aluno:9.5
Excelente

leia do teclado as dimensões de um retângulo (base e
altura), calcular e escrever a área do retângulo. (Valores
inválidos: 0 e números negativos).

In [12]:
base = 0
altura = 0

while base <= 0 or altura <= 0:
  base = float(input("Digite o valor da base: "))
  altura = float(input("Digite o valor da altura: "))
  if base <= 0 or altura <= 0:
    print("Valores inválidos.")
  else:
    area = base * altura
    print(f"A área do retângulo é de {area}")

Digite o valor da base: 0
Digite o valor da altura: 0
Valores inválidos.
Digite o valor da base: 10
Digite o valor da altura: -1
Valores inválidos.
Digite o valor da base: 2
Digite o valor da altura: 3
A área do retângulo é de 6.0

Leia 2 números e mostre o maior e o menor. (Valores
inválidos: números menores que -99 e maiores que 99).

In [15]:
n1 = 100
n2 = 100
while n1 < -99 or n1 > 99:
  n1 = int(input("Digite o primeiro número: "))
  if n1 < -99 or n1 > 99: print("Valor inválido. Digite novamente.")
while n2 < -99 or n2 > 99:
  n2 = int(input("Digite o segundo número: "))
  if n2 < -99 or n2 > 99: print("Valor inválido. Digite novamente.")
if n1 > n2:
  print(f"O maior número é {n1} e o menor número é {n2}.")
else:
  print(f"O maior número é {n2} e o menor número é {n1}.")

Digite o primeiro número: -100
Valor inválido. Digite novamente.
Digite o primeiro número: 100
Valor inválido. Digite novamente.
Digite o primeiro número: 3
Digite o segundo número: -100
Valor inválido. Digite novamente.
Digite o segundo número: 100
Valor inválido. Digite novamente.
Digite o segundo número: 43
O maior número é 43 e o menor número é 3.

leia do teclado uma distância em quilômetros e mostre na
tela o seu valor convertido em metros. (Valores inválidos:
números negativos).

In [18]:
while True:
  dist_km = float(input("Digite o valor da distância em km: "))
  if dist_km < 0:
    print("Valor inválido.")
  else:
    print(f"O valor em metros é de {dist_km * 1000}.")
    break

Digite o valor da distância em km: -3
Valor inválido.
Digite o valor da distância em km: 3.1
O valor em metros é de 3100.0.

leia do teclado uma distância em metros e mostre na tela o
seu valor convertido em quilômetros.(Valores inválidos:
números negativos).

In [19]:
dist_m = float(input("Digite o valor da distância em metros: "))
while dist_m < 0:
  dist_m = float(input("Valor inválido. Digite novamente o valor da distância em metros: "))
print(f"O valor em km é de {dist_m/1000}.")

Digite o valor da distância em metros: -1
Valor inválido. Digite novamente o valor da distância em metros: 120
O valor em km é de 0.12.

In [ ]:
dist_m = float(input("Digite o valor da distância em metros: "))
while dist_m < 0:
  dist_m = float(input("Valor inválido. Digite novamente o valor da distância em metros: "))
print(f"O valor em km é de {dist_m/1000}.")

# Aula 05

In [21]:
a = 0
while a < 5:
  a += 1
  if a % 2 == 0:
    continue
  print(a)

1
3
5

In [22]:
for x in range(5):
  print(x)

0
1
2
3
4

In [23]:
for x in range(3, 8):
  print(x)

3
4
5
6
7

In [24]:
for x in range(0, 20, 3):
  print(x)

0
3
6
9
12
15
18

In [25]:
nome = "Fernando"
for letra in nome:
  print(letra)

F
e
r
n
a
n
d
o

In [26]:
lista = [20,30,40,50]
for numero in lista:
  print(numero)

20
30
40
50

In [27]:
lista = [20,30,40,50]
for i in range( len(lista) ):
  print(lista[i])

20
30
40
50

In [29]:
lista = [10, 20, "Fernando", True, 3.14]
for x in lista:
  print(x)

10
20
Fernando
True
3.14

In [30]:
lista = [10, 20, "Fernando", True, 3.14]
for x in lista:
  if type(x) == str:
    for letra in x:
      print(letra)
  else:
    print(x)

10
20
F
e
r
n
a
n
d
o
True
3.14

In [31]:
for x in range(5):
  for y in range(4):
    print(x,y)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3
4 0
4 1
4 2
4 3

In [33]:
for x in range(5):
  linha = ""
  for y in range(4):
    linha += str(f"({x},{y}) ")  
  print(linha)

(0,0) (0,1) (0,2) (0,3)
(1,0) (1,1) (1,2) (1,3)
(2,0) (2,1) (2,2) (2,3)
(3,0) (3,1) (3,2) (3,3)
(4,0) (4,1) (4,2) (4,3)

In [34]:
type(lista)

list