<a href="https://colab.research.google.com/github/fernandonakagawa/Python_TCS_100h/blob/main/Aula09_0408.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Atividade 08

Crie uma lista de int vetF com tamanho 100 e atribua aos índices
pares um valor aleatório entre 0 e 100 e aos ímpares o valor de
seu índice multiplicado por 2 e mostre seu valor na tela de cada
um dos elementos.

In [13]:
import random
vetF = [int] * 100
for i in range(100):
  if i % 2 == 0:
    vetF[i] = random.randint(0,100)
  else:
    vetF[i] = i*2
print(vetF)

[34, 2, 39, 6, 15, 10, 44, 14, 68, 18, 69, 22, 58, 26, 31, 30, 100, 34, 22, 38, 25, 42, 9, 46, 20, 50, 64, 54, 2, 58, 48, 62, 45, 66, 60, 70, 44, 74, 20, 78, 51, 82, 68, 86, 15, 90, 47, 94, 23, 98, 35, 102, 66, 106, 37, 110, 46, 114, 82, 118, 75, 122, 54, 126, 86, 130, 92, 134, 21, 138, 49, 142, 46, 146, 12, 150, 44, 154, 16, 158, 83, 162, 79, 166, 57, 170, 54, 174, 40, 178, 15, 182, 9, 186, 24, 190, 56, 194, 51, 198]

Crie um dicionário que guarde as seguintes informações de uma
pessoa: nome, cpf, telefone e endereço.

In [16]:
pessoa = {
    "nome": "Henrique",
    "cpf": "12345678910",
    "telefone": "4399999999",
    "endereco": "Rua Belém 844",
}
pessoa

{'cpf': '12345678910',
 'endereco': 'Rua Belém 844',
 'nome': 'Henrique',
 'telefone': '4399999999'}

Crie uma lista de dicionários que guarde as seguintes informações
de uma pessoa: nome, cpf, telefone e endereço.

In [18]:
pessoa2 = {
    "nome": "Ray",
    "cpf": "12345678911",
    "telefone": "4399999998",
    "endereco": "Rua São Paulo 192",
}

In [19]:
pessoas = [pessoa, pessoa2]
pessoas

[{'cpf': '12345678910',
  'endereco': 'Rua Belém 844',
  'nome': 'Henrique',
  'telefone': '4399999999'},
 {'cpf': '12345678911',
  'endereco': 'Rua São Paulo 192',
  'nome': 'Ray',
  'telefone': '4399999998'}]

A partir do exercício anterior crie uma busca onde o usuário
possa procurar uma pessoa por nome, cpf, telefone ou endereço.

In [28]:
NOME = 1
CPF = 2
TELEFONE = 3
ENDERECO = 4

def busca(lista, chave, termo):
  for pessoa in lista:
    if pessoa[chave] == termo:
      print(pessoa)

while True:
  comando = int(input(f"Digite o comando \n{NOME} - Nome\
            \n{CPF} - Cpf\n{TELEFONE} - Telefone\n{ENDERECO} - Endereço\n"))
  flag = False
  if comando == NOME: chave = "nome"
  elif comando == CPF: chave = "cpf"
  elif comando == TELEFONE: chave = "telefone"
  elif comando == ENDERECO: chave = "endereco"
  else: 
    print("Comando inválido, digite novamente.")
    flag = True
  if not flag: break
termo = input("Digite o termo de busca: ")
busca(pessoas, chave, termo)

Digite o comando
1 - Nome
2 - Cpf
3 - Telefone
4 - Endereço
-1
Digite o termo de busca: 1
Comando inválido, digite novamente.
Digite o comando
1 - Nome
2 - Cpf
3 - Telefone
4 - Endereço
1
Digite o termo de busca: Henrique
{'nome': 'Henrique', 'cpf': '12345678910', 'telefone': '4399999999', 'endereco': 'Rua Belém 844'}

Crie dois sets contendo as habilidades de duas pessoas, por
exemplo: pessoa1 = {“Python”, “Java”, “C++”}. Mostre a união e a
intersecção desses dois sets.

In [31]:
joao = {"C", "C#", "Java", "Python", "Javascript"}
daniel = {"C++", "Python", "C#", "SQL", "Kotlin"}
print(joao, daniel)
print(joao.union(daniel))
print(joao.intersection(daniel))

{'C#', 'Python', 'Java', 'C', 'Javascript'} {'C#', 'Python', 'Kotlin', 'SQL', 'C++'}
{'C#', 'Python', 'Kotlin', 'SQL', 'Java', 'C', 'C++', 'Javascript'}
{'Python', 'C#'}

Crie uma lista de string vetI e atribua a cada um de seus
elementos um nome com dados vindos do teclado.
Por exemplo:

vetI[0] =&gt; &quot;Maria&quot;;

vetI[1] =&gt; &quot;Joao&quot;;

vetI[2] =&gt; &quot;Marcelo&quot;;

vetI[3] =&gt; &quot;Antonia&quot;;

Atribua à uma string sBusca um nome com dados vindos do teclado.
Mostre na tela os valores dos índices que contém sBusca.
sBusca =&gt; &quot;Marcelo&quot;
saída: 2

In [34]:
vetI = []
for i in range(4):
  nome = input("Digite um nome: ")
  vetI.append(nome)
sBusca = input("Digite um nome para busca: ")
#for i in range(len(vetI)):
#  if vetI[i] == sBusca: print(i, end=" ")
for i, nome in enumerate(vetI):
  if nome == sBusca: print(i, end=" ")

Digite um nome: Eduardo
Digite um nome: Fernando
Digite um nome: Fernando
Digite um nome: Iago
Digite um nome para busca: Fernando
1 2

Receba por parâmetro um nome e mostre na tela: “Bom dia &lt;nome&gt;”
sendo &lt;nome&gt; o valor do parâmetro

In [35]:
def falarBomDia(nome):
  print(f"Bom dia {nome}!")

falarBomDia("Ivan")

Bom dia Ivan!

Receba um número por parâmetro e mostre na tela o seu valor
multiplicado por 2.

In [36]:
def mult2(v):
  print(v*2)

mult2(6)

12

Receba dois números por parâmetro e mostre na tela a soma deles
(dentro da função)

In [37]:
def soma(n1,n2):
  print(n1+n2)
soma(3,4)

7

Receba dois números por parâmetro e retorne a sua subtração.

In [39]:
def subt(n1,n2):
  res = n1 - n2
  return res
x = subt(6,2)
print(x)

4

Receba dois textos por parâmetro e retorne a sua união.

In [40]:
def unir(t1, t2):
  return t1+t2
texto = unir("Bata", "ta")
print(texto)

Batata

Receba um número por parâmetro e retorne True se o número for par
e False se for ímpar.

In [41]:
def isPar(n):
  if n % 2 == 0: return True
  else: return False
x = isPar(43)
print(x)

False

# Aula 09 - Funções

## Valor padrão de parâmetro

In [43]:
def cumprimentar(nome = "Fulano"):
  print(f"Bom dia {nome}")

cumprimentar()
cumprimentar("Jessica")

Bom dia Fulano
Bom dia Jessica

In [53]:
def criarPessoa(nome, cpf = "0", telefone = "Sem Telefone", 
                endereco = "Sem endereço"):
  pessoa = {
    "nome": nome,
    "cpf": cpf,
    "telefone": telefone,
    "endereco": endereco, 
  }
  return pessoa
  
p = criarPessoa("Jhon")
print(p)
p = criarPessoa("Jhonatan", "Rua São Paulo 192")
print(p)
p = criarPessoa("Jhonatan", endereco = "Rua São Paulo 192")
print(p)
p = criarPessoa("Jhonatan", endereco = "Rua São Paulo 192", cpf = "123123123")
print(p)
p = criarPessoa(endereco = "Rua São Paulo 192", cpf = "123123123", nome = "José")
print(p)

#errado
p = criarPessoa("Jhonatan", "Rua São Paulo 192", "123123123", "(43)99999")
print(p)

{'nome': 'Jhon', 'cpf': '0', 'telefone': 'Sem Telefone', 'endereco': 'Sem endereço'}
{'nome': 'Jhonatan', 'cpf': 'Rua São Paulo 192', 'telefone': 'Sem Telefone', 'endereco': 'Sem endereço'}
{'nome': 'Jhonatan', 'cpf': '0', 'telefone': 'Sem Telefone', 'endereco': 'Rua São Paulo 192'}
{'nome': 'Jhonatan', 'cpf': '123123123', 'telefone': 'Sem Telefone', 'endereco': 'Rua São Paulo 192'}
{'nome': 'José', 'cpf': '123123123', 'telefone': 'Sem Telefone', 'endereco': 'Rua São Paulo 192'}
{'nome': 'Jhonatan', 'cpf': 'Rua São Paulo 192', 'telefone': '123123123', 'endereco': '(43)99999'}

## Número variável de argumentos

In [56]:
def compras(*args):
  for nome in args:
    print(nome)

compras("Chuchu", "Cebola", "Alho", "Arroz", "Abobrinha")

Chuchu
Cebola
Alho
Arroz
Abobrinha

In [60]:
def compras(comprador, *args):
  print(comprador)
  print(args)
  for nome in args:
    print(nome)

compras("Fernando", "Chuchu", "Cebola", "Alho", "Arroz")

Fernando
('Chuchu', 'Cebola', 'Alho', 'Arroz')
Chuchu
Cebola
Alho
Arroz
('Chuchu', 'Cebola', 'Alho', 'Arroz')

In [61]:
def compras(*args, comprador):
  print(comprador)
  for nome in args:
    print(nome)

compras("Fernando", "Chuchu", "Cebola", "Alho", "Arroz")

TypeError: ignored

In [64]:
def compras_nutricao(comprador, **kwargs):
  print(comprador)
  print(kwargs)
  for chave, valor in kwargs.items():
    print(f"{chave}: {valor}")

compras_nutricao("Fernando", Vegetal="Chuchu", Carboidrato="Arroz", Proteína="Feijão")

Fernando
{'Vegetal': 'Chuchu', 'Carboidrato': 'Arroz', 'Proteína': 'Feijão'}
Vegetal: Chuchu
Carboidrato: Arroz
Proteína: Feijão

In [65]:
def compras_nutricao_plus(*args, **kwargs):
  print(args)
  print(kwargs)

compras_nutricao_plus("Alface", "Batata", "Cenoura", \
                 Vegetal="Chuchu", Carboidrato="Arroz", Proteína="Feijão" )

('Alface', 'Batata', 'Cenoura')
{'Vegetal': 'Chuchu', 'Carboidrato': 'Arroz', 'Proteína': 'Feijão'}

## Passagem de parâmetros por referência x valor x atribuição

In [70]:
a = 3
print(id(a))
b = 2
print(id(b))

11256128
11256096

In [74]:
def quad(x):
  x *= x
  print(x)

a = 3
quad(a)
print(a)

11256128
11256128
11256320
9
11256128
3

In [73]:
def double(x):
  print(f"id x: {id(x)}")
  x *= 2
  print(f"id x final: {id(x)}")

b = 2
print(f"id b: {id(b)}")
double(b)
print(f"id b final: {id(b)}")

#parece, mas b não está sendo passado por valor. Veja que id x final muda de id.

id b: 11256096
id x: 11256096
id x final: 11256160
id b final: 11256096

In [75]:
def double(x):
  print(f"id x: {id(x)}") #se fosse realmente por valor, este id(x) seria diferente
  x *= 2
  print(f"id x final: {id(x)}")
  return x

b = 2
print(f"id b: {id(b)}")
c = double(b)
print(f"id b final: {id(b)}")
print(f"id c: {id(c)}")

id b: 11256096
id x: 11256096
id x final: 11256160
id b final: 11256096
id c: 11256160

## Try, except, else e finally

In [11]:
def conversao(string, base=10):
    try:
        return True, int(string, base=base)
    except ValueError:
        return False, None

conversao("4")

(True, 4)

In [12]:
resultado, valor = conversao("99")
print(f"{resultado}, {valor}")

True, 99

In [13]:
while True:
  try:
      x = int(input("Digite um número: "))
      break
  except ValueError:
      print("Erro. Digite novamente")

Digite um número: a
Erro. Digite novamente
Digite um número: 12

In [3]:
while True:
  try:
    x = float(input("Digite um número: "))
    if x < 0: 
      raise Exception("Valor inválido.")
    break
  except ValueError:
    print("Erro. Digite novamente")
  except:
    print("Valor inválido. Digite novamente.")
  else: #quando o try funciona
    print(f"Tudo certo. O número digitado é {x}")
  finally:
    print("fim.")

Digite um número: -1
Valor inválido. Digite novamente.
fim.
Digite um número: a
Erro. Digite novamente
fim.
Digite um número: 2
fim.

In [6]:
try:
  x = float(input("Digite um número: "))
  if x < 0: 
    raise Exception("Valor inválido.")
except ValueError:
  print("Erro. Digite novamente")
except:
  print("Valor inválido. Digite novamente.")
else: #quando o try funciona
  print(f"Tudo certo. O número digitado é {x}")
finally:
  print("fim.")

Digite um número: a
Erro. Digite novamente
fim.

In [7]:
x = "2"
if not type(x) is int:
  raise TypeError("x não é inteiro")

TypeError: ignored